node_modules
bower_components
npm-debug.log
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
*.iml

.DS_Store
src/main/webapp/lib/bower
.gradle
